$primary: rgb(73, 168, 212);
$border: 0px 0px 5px 8px rgba(128, 128, 128, 0.822);
$color: white;
$font: Calibri;
$font1: Imprint MT Shadow;

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

// width: 20px;
// height: 20px;
// border-radius: 50%;
// background-color: #5f18d1;
// padding: 20px;
// margin: 20px;

// transform:roted(0deg);

// transition: all;

//   &:hover{  border-radius: 50%;
//     height: 80px;
//     transform-origin: top left;
//     width: 20px;
//     background-color: #985260;
//     transform: rotate(340deg);
//   }

.cards {
  width: 1500px;
  margin: auto;
  display: flex;
  flex-direction: row;
  background-color: aquamarine;
  justify-content: space-around;
  flex-wrap: wrap;
  height: auto;

  .card1 {
    font-family: $font;
    background-color: $primary;
    // width: 20%;
    color: $color;
    box-shadow: $border;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 20px;
    padding: 20px;
    font-family: $font;
    flex-basis: 20%;
    transition: all 2s;
    img {
      margin: 10px 50px;
    }
    h3 {
      margin: 10px 50px;
      font-family: $font1;
    }
    button {
      padding: 10px;
      margin: 20px 80px;
    }

    &:hover {
      background-color: deeppink;
      cursor: pointer;
      color: darkslategray;
    }
  }
}
button:hover {
  background-color: rgb(33, 224, 224);
  width: 100px;
  height: 30px;
  border-radius: 8%;
  // padding: 10px;
}
// @media only screen and (min-width: 200px) and(max-width: 770px) {
//   .cards {
//   width: 100%;
//     flex-direction: column;
//     height: auto;
//     margin: 0%;
//   }
// }
// @media only screen and (min-width: 200px) and(max-width:770px) {
//   .card1 {
//     width: 100%;
//     background-color: #5f18d1;
//   }
// }
